<template>
  <section class="profile">
    <div class="loading" v-if="loading">
      <h3>Loading ...</h3>
    </div>

    <div class="error" v-if="error">
      <h1>{{ error }}</h1>
      <router-link to="/">Back to Home</router-link>
    </div>

    <div v-if="profileData" class="container">
      <section class="stats-summary">
        <article class="gamertag">
          <img
            :src="profileData.platformInfo.avatarUrl"
            alt="Avatar utilisateur"
          />
          <div v-if="profileData.platformInfo.platformSlug == 'xbl'">
            <svg
              class="icon icon-platform"
              data-v-6f682075=""
              data-v-7f0a3f4c=""
              viewBox="0 0 88 88"
            >
              <path
                data-v-6f682075=""
                d="M39.73 86.91c-6.628-.635-13.338-3.015-19.102-6.776-4.83-3.15-5.92-4.447-5.92-7.032 0-5.193 5.71-14.29 15.48-24.658 5.547-5.89 13.275-12.79 14.11-12.604 1.626.363 14.616 13.034 19.48 19 7.69 9.43 11.224 17.154 9.428 20.597-1.365 2.617-9.837 7.733-16.06 9.698-5.13 1.62-11.867 2.306-17.416 1.775zM8.184 67.703c-4.014-6.158-6.042-12.22-7.02-20.988-.324-2.895-.21-4.55.733-10.494 1.173-7.4 5.39-15.97 10.46-21.24 2.158-2.24 2.35-2.3 4.982-1.41 3.19 1.08 6.6 3.436 11.89 8.22l3.09 2.794-1.69 2.07c-7.828 9.61-16.09 23.24-19.2 31.67-1.69 4.58-2.37 9.18-1.64 11.095.49 1.294.04.812-1.61-1.714zm70.453 1.047c.397-1.936-.105-5.49-1.28-9.076-2.545-7.765-11.054-22.21-18.867-32.032l-2.46-3.092 2.662-2.443c3.474-3.19 5.886-5.1 8.49-6.723 2.053-1.28 4.988-2.413 6.25-2.413.777 0 3.516 2.85 5.726 5.95 3.424 4.8 5.942 10.63 7.218 16.69.825 3.92.894 12.3.133 16.21-.63 3.208-1.95 7.366-3.23 10.187-.97 2.113-3.36 6.218-4.41 7.554-.54.687-.54.686-.24-.796zM40.44 11.505C36.834 9.675 31.272 7.71 28.2 7.18c-1.076-.185-2.913-.29-4.08-.23-2.536.128-2.423-.004 1.643-1.925 3.38-1.597 6.2-2.536 10.03-3.34C40.098.78 48.193.77 52.43 1.663c4.575.965 9.964 2.97 13 4.84l.904.554-2.07-.104C60.148 6.745 54.15 8.408 47.71 11.54c-1.942.946-3.63 1.7-3.754 1.68-.123-.024-1.706-.795-3.52-1.715z"
                fill="#fff"
              ></path>
            </svg>
            <h1>{{ profileData.platformInfo.platformUserHandle }}</h1>
          </div>
          <div v-else-if="profileData.platformInfo.platformSlug === 'psn'">
            <svg
              class="icon icon-platform"
              data-v-6f682075=""
              data-v-7f0a3f4c=""
              viewBox="5 117.952 990 764.096"
            >
              <path
                data-v-6f682075=""
                d="M986.195 702.762c-19.338 24.398-66.718 41.803-66.718 41.803l-352.455 126.6V777.8l259.383-92.42c29.436-10.546 33.955-25.455 10.029-33.28-23.881-7.848-67.122-5.6-96.58 4.992l-172.832 60.871v-96.895l9.962-3.373s49.942-17.675 120.168-25.455c70.226-7.735 156.215 1.057 223.72 26.646 76.072 24.039 84.64 59.478 65.323 83.876zM600.572 543.781V305.019c0-28.041-5.172-53.855-31.481-61.164-20.147-6.454-32.65 12.255-32.65 40.273v597.919l-161.251-51.18V117.952c68.562 12.728 168.447 42.814 222.145 60.917 136.562 46.884 182.861 105.237 182.861 236.716-.001 128.151-79.108 176.723-179.624 128.196zM79.31 768.041c-78.096-21.992-91.093-67.82-55.497-94.22 32.898-24.375 88.845-42.725 88.845-42.725l231.208-82.211v93.725l-166.378 59.544c-29.39 10.547-33.91 25.478-10.029 33.303 23.903 7.826 67.167 5.6 96.603-4.969l79.805-28.963v83.853c-5.06.899-10.703 1.799-15.921 2.676-79.829 13.042-164.851 7.6-248.636-20.013z"
                fill="#fff"
              ></path>
            </svg>
            <h1>{{ profileData.platformInfo.platformUserHandle }}</h1>
          </div>
          <div v-else>
            <svg
              class="icon icon-platform"
              data-v-6f682075=""
              data-v-260e505f=""
              viewBox="0 0 100 100"
            >
              <path
                data-v-6f682075=""
                d="M47.254 0C16.245 0 2.861 27.601 2.861 27.601L6.8 30.422S1.842 39.85 1.979 51.943c0 24.688 19.652 47.942 48.582 47.942 26.28 0 47.99-21.39 47.99-47.881C98.551 17.454 71.759 0 47.254 0zm.269 8.422c24.228 0 43.027 19.523 43.027 42.22 0 24.061-18.096 40.793-39.182 40.793-15.52 0-29.52-11.819-29.52-28.022 0-9.359 4.974-15.884 10.548-19.361l.816.885c-1.526 1.194-5.875 8.182-5.875 15.048 0 12.749 9.998 21.579 22.595 21.579 16.045 0 26.747-13.686 26.747-29.576 0-18.487-16.319-34.183-35.959-34.183-10.863 0-20.082 4.671-25.38 8.795l-.824-.746c6.93-10.687 18.933-17.432 33.007-17.432zm-7.229 17.686c12.532 0 24.769 8.291 27.823 20.06l-1.111.421c-5.482-7.242-14.469-13.243-25.081-13.243-19.524 0-29.779 17.742-28.273 32.561l-1.149.42s-2.157-4.758-2.157-10.4c-.001-16.34 13.418-29.819 29.948-29.819zm8.284 20.507c5.934 0 10.678 4.809 10.678 10.519 0 4.723-3.032 7.523-3.032 7.523l3.593 2.513s-3.562 5.593-10.835 5.593c-6.956 0-13.108-5.614-13.108-13.164-.001-7.781 6.691-12.984 12.704-12.984z"
                fill="#fff"
              ></path>
            </svg>
            <h1>{{ profileData.platformInfo.platformUserHandle }}</h1>
          </div>
        </article>
        <article class="gearscore">
          <div class="gearscore-details">
            <svg
              class="icon-phenix"
              data-v-19e8bc14=""
              viewBox="0 0 64 58"
              data-v-065b0ba0=""
            >
              <g transform="matrix(1, 0, 0, 1, 0, 0)">
                <path
                  d="M257.95-114.2a8.1,8.1,0,0,0,4.539,2.481c1.171.263,2.308.684,3.634,1.086-.762-.673-1.412-1.249-2.064-1.823-1.272-1.12-2.581-2.2-3.806-3.369a10.715,10.715,0,0,1-2.483-4.641c.446.227.654.318.847.435a3.407,3.407,0,0,0,.835.523,2,2,0,0,0,1.307.014c.2-.118.193-.829.065-1.2a7.572,7.572,0,0,0-.867-1.527,16.5,16.5,0,0,1-2.828-9.489A5.5,5.5,0,0,1,258.167-135c.145,2.609,1.586,4.281,3.083,5.912q11.549,12.581,23.1,25.155c.247.269.468.562.814.981a6.687,6.687,0,0,0,.343-.84c.206-.9.4-1.8.58-2.7a2.036,2.036,0,0,0-1.583-2.683c.458-.836.972-1.034,1.829-.57a4.992,4.992,0,0,0,1.934.71,1.93,1.93,0,0,1,1.11.648c.632.71,1.175,1.5,1.82,2.34l-1.551-.143.836,3.654c.321-.294.56-.481.762-.7q10.2-11.267,20.391-22.543c1.184-1.311,2.362-2.634,3.451-4.023a8.38,8.38,0,0,0,1.846-4.317c.01-.09.09-.174.22-.412a6.306,6.306,0,0,1,.853,2.784,16.394,16.394,0,0,1-2.825,9.924,8.234,8.234,0,0,0-.9,1.633c-.356,1.03.125,1.5,1.164,1.217a4.535,4.535,0,0,0,.909-.392c.254-.135.483-.318.879-.585a6.22,6.22,0,0,1-.155.832,11.545,11.545,0,0,1-4.4,5.665c-.963.676-1.881,1.417-2.793,2.162a10.418,10.418,0,0,0-.983,1.084c2.474-.769,4.8-1.433,7.073-2.232a12.95,12.95,0,0,0,2.307-1.412,4.044,4.044,0,0,1-.76,2.27,12.726,12.726,0,0,1-5.646,4.628,5.746,5.746,0,0,0-1.414.822c-.442.382-.316.812.253.984a13.845,13.845,0,0,0,1.62.272,8.471,8.471,0,0,1-2.994,1.72c-1.472.474-2.955.92-4.413,1.434a8.9,8.9,0,0,0-2.143,1.129c2.079-.212,4.236.715,6.331-.672a4.1,4.1,0,0,1-.192.747,8.037,8.037,0,0,1-4.7,3.964,12.047,12.047,0,0,1-7.373.6c-.848-.23-.862-.179-1.7.26,1.068.436,2.1.837,2.166,2.251l-5.022-.672a3.241,3.241,0,0,0,.582,4c.873-.485.574-1.475.955-2.438a12.4,12.4,0,0,1,.956,2.86,10.862,10.862,0,0,1-.5,2.75l.2.177,1.2-.667a3.2,3.2,0,0,1-3.055,2.963l-.187-1.152-1.229.734-.23-.1a5.589,5.589,0,0,0,.1-4.206l-.817,2.138a1.191,1.191,0,0,1-.756-1.347,2.038,2.038,0,0,0-.579-1.719,3.411,3.411,0,0,1-1.046-3.217,8.336,8.336,0,0,0,.005-.959c-.867,1.148-1.392,2.164-.757,3.438a3.564,3.564,0,0,1-.226,3.608l-1.1-2.987a2.145,2.145,0,0,0-.355,2.219A2.426,2.426,0,0,1,285-85.436c-.8-.361-.44-1.019-.48-1.556-1.127.613-1.173.734-.945,2.474a3.16,3.16,0,0,1-3.784-2.76l1.312.578a3.5,3.5,0,0,0,.04-.8,5.718,5.718,0,0,0-.352-1.046,2.762,2.762,0,0,1,.65-3.579c.134.886-.048,1.881.861,2.43,1.246-.753,1.556-3.208.574-5.062a11.67,11.67,0,0,1-5.85,1.2c.077-1.28,1.235-1.588,2.111-2.166a1.53,1.53,0,0,0-1.5-.516c-.956.045-1.909.158-2.865.2a10.471,10.471,0,0,1-6.173-1.759,6.072,6.072,0,0,1-2.655-3.647,5.751,5.751,0,0,0,3.807.781c1.019-.04,2.04-.008,3.172-.008a16.014,16.014,0,0,0-5.28-2.524c-1.24-.336-2.449-.792-3.655-1.239a9.028,9.028,0,0,1-1.289-.768c.929-.344,1.9.054,2.478-.779-.223-.75-.9-.934-1.488-1.182a13.67,13.67,0,0,1-5.891-4.855,2.994,2.994,0,0,1-.835-2.207Zm28.93,35.193c14.241.361,24.116-11.214,24.551-22.068-.934.9-1.754,1.732-2.613,2.517a4.263,4.263,0,0,0-1.22,1.916,20.762,20.762,0,0,1-4.473,7.668c-10.608,11.657-30.077,7.882-35.421-6.945-.8-2.222-2.508-3.414-4.054-5.053C263.793-91.433,272.621-79.37,286.879-79.008Zm-.034-48.181c-6.834.181-13.523,3.773-15.752,6.751l1.933,2.068a21.256,21.256,0,0,1,14.855-5.646,21.229,21.229,0,0,1,14.6,6.108l1.935-2.155C300.925-124.147,293.839-127.375,286.845-127.189Z"
                  transform="translate(-256.95 135)"
                  fill="#fff"
                ></path>
              </g>
            </svg>
            <div>
              <span>{{
                profileData.segments[0].stats.latestGearScore.displayName
              }}</span>
              <p>
                {{ profileData.segments[0].stats.latestGearScore.displayValue }}
              </p>
            </div>
          </div>
          <div class="level">
            <span>{{
              profileData.segments[0].stats.highestPlayerLevel.displayName
            }}</span>
            <p>
              {{
                profileData.segments[0].stats.highestPlayerLevel.displayValue
              }}
            </p>
          </div>
        </article>
        <article class="life-overview">
          <h4>Lifetime Overview</h4>
          <div>
            <div>
              <svg
                class="icon-dz"
                data-v-5e2498f4=""
                viewBox="0 0 30 28"
                data-v-5e9bfcc5=""
              >
                <g transform="matrix(1, 0, 0, 1, 0, 0)">
                  <path
                    d="M-211-182.785c-.019.15-.037.3-.058.451a.337.337,0,0,1-.059.152c-.025-.229-.048-.459-.075-.688a6.241,6.241,0,0,0-3.165-4.78,6.17,6.17,0,0,0-3.671-.9,5.63,5.63,0,0,0-4.018,1.96c-.047.054-.093.109-.143.16-.216.22-.132.231-.443.069-.16-.084-.309-.187-.469-.273a.178.178,0,0,1-.1-.181,4.257,4.257,0,0,0-.049-.879,1.745,1.745,0,0,0-.993-1.168.412.412,0,0,1-.292-.476,6.118,6.118,0,0,0,.007-.642.252.252,0,0,1,.016-.054,3.169,3.169,0,0,0,1.149-.219,5.766,5.766,0,0,0,3.489-3.208,6.519,6.519,0,0,0-1.162-7.159,6.12,6.12,0,0,0-1.38-1.077.535.535,0,0,1-.14-.109,7.476,7.476,0,0,1,4.6,4.3,7.558,7.558,0,0,1-.191,6.322c.254.037.488.067.722.106a7.5,7.5,0,0,1,4.748,2.763,7.753,7.753,0,0,1,1.581,3.424c.043.214.046.435.069.652.008.075.018.149.027.223Zm-28-.086.089.728a5,5,0,0,0,.083-.553,6.491,6.491,0,0,1,.53-2.048,6.624,6.624,0,0,1,5.956-3.815,5.66,5.66,0,0,1,4.128,1.684c.175.174.337.363.5.549a.134.134,0,0,0,.195.038c.2-.115.406-.228.613-.335a.185.185,0,0,0,.107-.193c0-.219.014-.438.021-.656a1.344,1.344,0,0,1,.268-.755,1.937,1.937,0,0,1,.895-.705.211.211,0,0,0,.154-.255c-.019-.194-.017-.39-.026-.585-.012-.281.038-.227-.232-.267a5.215,5.215,0,0,1-2.917-1.387,6.287,6.287,0,0,1-1.885-6.261,6,6,0,0,1,2.989-4.042c.044-.025.086-.055.129-.082a7.285,7.285,0,0,0-3.947,3,7.669,7.669,0,0,0-.513,7.639l-.07.012c-.436.07-.881.107-1.307.217a7.6,7.6,0,0,0-4.018,2.547,7.453,7.453,0,0,0-1.659,3.658c-.04.248-.056.5-.082.749Zm6.843,6.931a7.688,7.688,0,0,0,7.171-3.35,7.454,7.454,0,0,0,2.318,2.225,7.6,7.6,0,0,0,3,1.1,7.446,7.446,0,0,0,3.206-.242,7.148,7.148,0,0,0,2.794-1.557l-.1.054a5.953,5.953,0,0,1-3.89.755,6.488,6.488,0,0,1-4.4-2.575,5.7,5.7,0,0,1-1.112-4.791c.071-.338.194-.665.3-1,.027-.085.02-.138-.066-.186-.245-.136-.485-.282-.725-.423-.133.1-.255.2-.389.278a1.861,1.861,0,0,1-2.155-.191c-.084-.072-.144-.094-.244-.026-.149.1-.311.184-.466.277-.244.145-.245.147-.155.423a6.254,6.254,0,0,1,.352,1.525,5.877,5.877,0,0,1-1.038,3.866,6.482,6.482,0,0,1-4.635,2.823,5.9,5.9,0,0,1-3.559-.605c-.137-.071-.27-.151-.431-.242A7.3,7.3,0,0,0-232.157-175.94Z"
                    transform="translate(239 201.81)"
                    fill="#fff"
                  ></path>
                </g>
              </svg>
            </div>
            <h5>{{ profileData.segments[0].stats.rankDZ.displayName }}</h5>
            <p>{{ profileData.segments[0].stats.rankDZ.displayValue }}</p>
          </div>
          <div>
            <div>
              <svg
                class="icon-conflict"
                data-v-5e2498f4=""
                viewBox="0 0 50 48"
                data-v-5e9bfcc5=""
              >
                <g transform="matrix(1, 0, 0, 1, 0, 0)">
                  <path
                    d="M185.465,204.8a4.178,4.178,0,0,0,1.01,1.449,3.969,3.969,0,0,1-2.472-.5l.957,2.2a14.714,14.714,0,0,1-3.209.5h-.009a14.714,14.714,0,0,1-3.209-.5l.957-2.2a3.969,3.969,0,0,1-2.472.5,4.181,4.181,0,0,0,1.01-1.449s-5.048,1.638-7.193-2.52a4.469,4.469,0,0,0,3.407.252,4.963,4.963,0,0,0-2.587-1.26,7.619,7.619,0,0,1-2.713-1.008s2.208,0,.946-.819-3.66-1.323-3.975-4.158a3.105,3.105,0,0,0,1.893,1.1,8.014,8.014,0,0,1,2.713,1.291,17.512,17.512,0,0,0-2.713-2.583,6.047,6.047,0,0,1-2.587-4.724c0,.063,1.577,2.079,2.524,1.827s-1.136-2.016-1.577-2.583a4.585,4.585,0,0,1,.5-5.291,4.917,4.917,0,0,0,1.514,3.905c1.83,1.889,11.168,12.031,11.61,12.409s.946.315,1.01-1.071h1.884c.063,1.386.568,1.449,1.01,1.071s9.78-10.52,11.61-12.409a4.917,4.917,0,0,0,1.514-3.905,4.585,4.585,0,0,1,.5,5.291c-.442.567-2.524,2.331-1.577,2.583s2.524-1.764,2.524-1.827a6.048,6.048,0,0,1-2.587,4.724,17.528,17.528,0,0,0-2.713,2.583,8.013,8.013,0,0,1,2.713-1.291,3.105,3.105,0,0,0,1.893-1.1c-.316,2.835-2.713,3.339-3.975,4.158s.946.819.946.819a7.619,7.619,0,0,1-2.713,1.008,4.963,4.963,0,0,0-2.587,1.26,4.469,4.469,0,0,0,3.407-.252C190.513,206.437,185.465,204.8,185.465,204.8Zm3.47-18.267s1.01,1.575.189,1.575-1.956-1.7-1.956-1.7,2.145-7.307,2.271-7.307a9.868,9.868,0,0,0-7.688-3.527h-.009a9.868,9.868,0,0,0-7.688,3.527c.126,0,2.271,7.307,2.271,7.307s-1.136,1.7-1.956,1.7.189-1.575.189-1.575-1.7,1.26-1.514,2.9a7.531,7.531,0,0,0,.442,2.142,10.972,10.972,0,0,0,2.713,2.772c1.388.819,3.149,1.764,3.149,1.764l2.4-2.2,2.4,2.2s1.761-.945,3.15-1.764a10.976,10.976,0,0,0,2.713-2.772,7.542,7.542,0,0,0,.441-2.142C190.639,187.792,188.935,186.532,188.935,186.532Zm-11.545,6.855c-2.216-.263-3.147-3.769-3.147-3.769l6.878,2.583C180.048,193.146,179.606,193.65,177.391,193.387Zm8.712,0c-2.216.263-2.657-.241-3.73-1.186l6.878-2.583S188.319,193.125,186.1,193.387ZM163.9,208.407l1.332,1.329,4.218-3.942a17.03,17.03,0,0,1-1.661-2.043l-3.888,3.882Zm34.371,1.329,1.332-1.329v-.774l-3.894-3.887a17.042,17.042,0,0,1-1.661,2.044Zm-26.91-2.21c-.114.744-.272,1.77-.458,2.942-.434,2.744-.631,3.59-1.073,3.212s-2.114-2.079-2.114-2.079v-2.142l2.6-2.805c-.162-.147-.32-.3-.476-.453l-4.628,4.325-1.514-1.512-1,.949s6.814,5.606,7.508,6.173,1.325,0,1.578-2.016c.2-1.619.69-4.579.874-5.68Q171.984,208.014,171.357,207.526Zm26.924,3-4.633-4.329c-.156.154-.314.3-.476.453l2.609,2.81V211.6s-1.672,1.7-2.114,2.079-.639-.469-1.073-3.212c-.186-1.176-.345-2.2-.459-2.949q-.627.488-1.3.916c.183,1.1.672,4.064.875,5.686.252,2.016.883,2.583,1.578,2.016s7.508-6.173,7.508-6.173l-1-.949Zm3.881-35.358.244.243,3.342-3.337-1.16-1.158-3.342,3.337.243.243-.551.55-1.716-1.713a1.112,1.112,0,0,0-1.571,0l-.967.966-1.9-1.9-.758.757,1.9,1.9-4.941,4.933a17.073,17.073,0,0,1,4.454,4.22l7.339-7.327-1.167-1.164Zm-3.818-.879,1.056,1.055-.848.846-1.057-1.055Zm-1.262,1.26,1.056,1.055-.848.846-1.057-1.055Zm-1.262,1.26,1.056,1.055-.848.846-1.057-1.055Zm-2.11,2.106.848-.846,1.056,1.055-.848.846Zm6.863-3.38-5.718,5.709a.284.284,0,0,1-.4-.4l5.718-5.709a.284.284,0,1,1,.4.4Zm-32.521,8.669a17.068,17.068,0,0,1,4.456-4.218l-4.938-4.93,1.9-1.9-.758-.757-1.9,1.9-.967-.966a1.112,1.112,0,0,0-1.571,0l-1.716,1.713-.551-.55.243-.243-3.342-3.337-1.16,1.158,3.343,3.337.243-.243.551.55-1.167,1.164Zm1.733-5.289-1.056,1.055-.848-.846,1.057-1.055Zm-2.109-2.106.848.846-1.056,1.055-.848-.846Zm-.414-.413-1.057,1.055-.848-.846,1.056-1.055Zm-2.11-2.106.848.846-1.056,1.055-.848-.846Zm-2.23.844a.285.285,0,0,1,.4,0l5.718,5.709a.284.284,0,0,1-.4.4l-5.718-5.709A.284.284,0,0,1,162.921,175.134ZM195.2,201.2a5.9,5.9,0,0,1-.774.43,14.726,14.726,0,0,1-25.363-.006,5.943,5.943,0,0,1-.761-.425l-1.042-.715a15.816,15.816,0,0,0,28.968.009Zm-21.768-20.454a15.928,15.928,0,0,0-5.307,5.415,4.4,4.4,0,0,0,.659,1.033,14.821,14.821,0,0,1,4.981-5.377C173.639,181.419,173.527,181.056,173.428,180.746Zm16.635,0c-.1.31-.211.673-.333,1.071a14.824,14.824,0,0,1,4.977,5.378,4.392,4.392,0,0,0,.66-1.031A15.927,15.927,0,0,0,190.064,180.751Z"
                    transform="translate(-157.75 -170.92)"
                    fill="#fff"
                  ></path>
                </g>
              </svg>
            </div>
            <h5>{{ profileData.segments[0].stats.xPPvp.displayName }}</h5>
            <p>{{ profileData.segments[0].stats.xPPvp.displayValue }}</p>
          </div>
          <div>
            <div>
              <svg
                class="icon-commendation"
                data-v-5e2498f4=""
                viewBox="0 0 30 52"
                data-v-5e9bfcc5=""
              >
                <g transform="matrix(1, 0, 0, 1, 0, 0)">
                  <path
                    d="M677.272,1687.7h0a1.464,1.464,0,0,1-1.465-1.464v-3.959h2.929v3.959A1.464,1.464,0,0,1,677.272,1687.7Zm-7.057-30.1-6.581,17.047.749.545,6.792-17.592Zm20.695,17.047-.749.545-6.791-17.592h.96Zm-11.1,12.041,7.15,4.128v11.189l-9.69,5.595-9.69-5.595v-11.189l7.15-4.128a2.581,2.581,0,0,0,5.082,0Zm-6.642-5.112-6.54-4.752,7.421-19.224h6.44l7.422,19.224-6.54,4.752v2.98h-1.518v-3.4h-5.167v3.4h-1.518Z"
                    transform="translate(-663.63 -1657.61)"
                    fill="#fff"
                  ></path>
                </g>
              </svg>
            </div>
            <h5>
              {{ profileData.segments[0].stats.commendationCount.displayName }}
            </h5>
            <p>
              {{ profileData.segments[0].stats.commendationCount.displayValue }}
            </p>
          </div>
          <div>
            <div>
              <svg
                class="icon"
                data-v-5e2498f4=""
                viewBox="0 0 50 47"
                data-v-5e9bfcc5=""
              >
                <g transform="matrix(1, 0, 0, 1, 0, 0)">
                  <path
                    d="M174.2,207.877l-21.981-15.97,9.167-28.214H174.2v4.037h-9.88l-7.355,22.635L174.2,202.886Zm4.038-40.147h9.881l7.354,22.635-17.235,12.522v4.991l21.981-15.97-9.167-28.214H178.242Zm-2.019,31.632,14.507-10.54-5.541-17.055H167.258l-5.541,17.055Z"
                    transform="translate(-152.22 -163.69)"
                    fill="#fff"
                  ></path>
                </g>
              </svg>
            </div>
            <h5>
              {{ profileData.segments[0].stats.commendationScore.displayName }}
            </h5>
            <p>
              {{ profileData.segments[0].stats.commendationScore.displayValue }}
            </p>
          </div>
          <div>
            <div>
              <svg
                class="icon-survivalist"
                data-v-5e2498f4=""
                viewBox="0 0 50 42"
                data-v-5e9bfcc5=""
              >
                <g transform="matrix(1, 0, 0, 1, 0, 0)">
                  <path
                    d="M87.04,85.67,78.659,99.841l-1.672-1.008,6.7-11.312H43.36l6.712,11.312-1.656,1.035L40,85.67ZM66.687,115.939c2.224.6,4.448,1.206,6.675,1.792a1.77,1.77,0,0,1,1.232.84,11,11,0,0,0,1,1.408,3.312,3.312,0,0,0,.634.5l.146-.124-.581-1.568c.784.594,1.008,1.68,1.939,2.07l.148-.112c-.207-.539-.413-1.077-.672-1.752.988.8,1.127,2.352,2.709,2.335a7.138,7.138,0,0,1-.432-1.075c-.112-.472-.732-1.008.188-1.424-.584-.473-.259-.747.128-1.033.441-.326.859-.682,1.344-1.073a1.574,1.574,0,0,0-1.534-.136c-.588.289-1.188.553-1.784.829l-.063-.112q.652-.538,1.306-1.073L79,116.054c-1.036-.122-1.8.739-2.878.967l1.485-1.243-.094-.188a3.513,3.513,0,0,0-.769.139c-.682.289-1.344.633-2.023.924a1.1,1.1,0,0,1-.642.068c-.849-.2-1.689-.448-2.532-.672l-4.144-1.12c-.264-.071-.5-.09-.644.24a3.571,3.571,0,0,1-.448.6A2.938,2.938,0,0,0,66.687,115.939ZM48,119.242c-.27.688-.533,1.355-.814,2.071a1.452,1.452,0,0,0,1.381-.612c.353-.544.747-1.062,1.12-1.59l.121.073-.595,1.557.164.112c.94-.44,1.168-1.568,2.016-2.281-.264.672-.48,1.232-.7,1.784l.139.127a3.239,3.239,0,0,0,.651-.5,16.734,16.734,0,0,0,1.028-1.456,1.531,1.531,0,0,1,.927-.727c1.637-.428,3.272-.868,4.906-1.307.739-.2,1.476-.4,2.213-.6l.017-.148c-.436-.224-.867-.448-1.309-.659a.543.543,0,0,0-.327.03c-1.595.439-3.2.852-4.78,1.335a2.87,2.87,0,0,1-2.7-.2,5.1,5.1,0,0,0-1.211-.553,2.645,2.645,0,0,0-.7-.058l-.05.178,1.344,1.126c-.753-.224-1.437-.545-2.138-.822a2.284,2.284,0,0,0-.672-.05l-.035.167,1.3,1.06c-1.12-.1-2-1.323-3.345-.554.485.391.9.763,1.344,1.068s.616.581.122,1.039ZM59.165,113.1a.862.862,0,0,0-.672-.576q-2.24-.569-4.465-1.222a3.694,3.694,0,0,1-.791-.519c-.136-.085-.36-.237-.423-.192-.536.389-1.008.153-1.568-.1l1.508-1.244-.047-.132-6.626.582-.044.138,5.545,3.9c-.086-1.232-1.04-1.6-1.88-2.249a3.158,3.158,0,0,1,.566.03c.589.167,1.174.351,1.761.529.307.94,1.008.193,1.505.336,1.621.483,3.258.909,4.89,1.353.365.1.736.178,1.232.3A9.392,9.392,0,0,1,59.165,113.1Zm13.328-.4c.627-.148,1.262-.672,1.96-.149a.3.3,0,0,0,.281-.082c.327-.7,1.034-.626,1.612-.808.274-.086.56-.138.842-.2-.685.672-1.627,1.047-1.68,2.255l5.527-3.893c-.015-.046-.028-.093-.043-.14l-6.609-.567-.037.15,1.483,1.223c-.625.328-1.182.475-1.64.049a4.4,4.4,0,0,1-1.056.738,40.314,40.314,0,0,1-3.933,1.051,1.983,1.983,0,0,0-1.67,1.7c1.7-.46,3.323-.934,4.963-1.325Zm-5.3,6.509c-.5-.324-.95-.638-1.428-.9-.083-.046-.336.076-.416.187-.24.328-.433.69-.643,1.039-.374.62-.746,1.241-1.177,1.961-.454-.778-.8-1.456-1.22-2.081-1-1.519-.4-1.421-2.016-.492-.316.181-.39.363-.17.711.652,1.037,1.263,2.1,1.887,3.154.488.825.971,1.655,1.527,2.6C64.8,123.27,65.984,121.268,67.2,119.213ZM45.776,88.843l5,8.418c.432-.3.508-.56.261-.969-1.278-2.1-2.531-4.222-3.788-6.338a3.5,3.5,0,0,1-.19-.475l1.148-.052c-.57-1.155-1.542-.536-2.3-.728Zm35.5-.026-.132-.112c-.747.184-1.717-.42-2.252.716l1.111.088c-.086.188-.128.307-.19.412-1.252,2.12-2.488,4.256-3.776,6.349-.271.442-.161.657.263.972ZM64.106,117.851c.076-.166.112-.5.021-.56a1.328,1.328,0,0,0-.774-.24c-.2.012-.392.234-.609.377.269.454.508.856.784,1.322A9.4,9.4,0,0,0,64.106,117.851Zm13.923-16.54-2.763,2.128,2.757,3.676-6.645.57c-.088,1.008-.169,1.932-.26,2.962l-3.352-.736c-.3.672-.576,1.366-.918,2.016a16.87,16.87,0,0,1-1.344,2.288,2.267,2.267,0,0,1-4-.112,28.792,28.792,0,0,1-1.823-3.488c-.328-.7-.288-.731-1.038-.552-.689.162-1.383.3-2.066.479-.448.112-.612-.026-.634-.475-.029-.614-.139-1.225-.151-1.839-.008-.4-.159-.568-.545-.6-1.172-.09-2.342-.193-3.512-.29l-2.643-.224c.485-.661.909-1.248,1.344-1.828s.9-1.177,1.4-1.84l-2.757-2.141c.48-.336.907-.634,1.344-.923a10.384,10.384,0,0,0,1.48-.979,11.78,11.78,0,0,0,1.088-1.456,4.534,4.534,0,0,0,.946-2.784,1.351,1.351,0,0,0-.251-.8c-1.5-1.863-3.032-3.7-4.552-5.551-.125-.152-.237-.316-.448-.595h.655c1.156.04,2.323,0,3.464.155a9.481,9.481,0,0,1,2.089.726c.57.224,1.136.463,1.686.73a1.98,1.98,0,0,0,1.344.094c1.6-.327,3.208-.662,4.828-.879a13.584,13.584,0,0,1,4.764.466,11.681,11.681,0,0,0,2.12.467,4.609,4.609,0,0,0,1.667-.48c.831-.323,1.64-.7,2.464-1.045a1.254,1.254,0,0,1,.432-.1c1.267-.055,2.535-.1,3.808-.146a3.025,3.025,0,0,1,.4.059c-.358.448-.652.837-.959,1.21-1.344,1.633-2.694,3.256-4.017,4.9a1.429,1.429,0,0,0-.27.8c-.068,1.655.915,2.9,1.861,4.051a10.613,10.613,0,0,0,2.47,1.689C77.648,101.031,77.8,101.151,78.028,101.311Zm-9.8,6.406c-.525-.745-.834-.749-1.428-.131a19.152,19.152,0,0,1-1.938,1.818,1.918,1.918,0,0,1-2.652-.017,20.719,20.719,0,0,1-1.891-1.782c-.624-.641-.949-.628-1.4.041a4.355,4.355,0,0,1,.539.784c.217.551.36,1.132.56,1.69a9.356,9.356,0,0,0,2,3.55,1.93,1.93,0,0,0,3.06-.015,10.7,10.7,0,0,0,2.128-3.863C67.474,109.076,67.4,108.17,68.224,107.717Zm8.939-6.483c-.68-.448-1.273-.784-1.8-1.2a4.969,4.969,0,0,1-1.276-1.261,5.043,5.043,0,0,0-2.164-2.352.8.8,0,0,1-.336-.281,1.3,1.3,0,0,1-.249-.616,8.3,8.3,0,0,1,.2-1.177l-1.1.105a1.558,1.558,0,0,1,.967-1.172c.364-.139.741-.25,1.09-.42.792-.384,1.729-.488,2.352-1.208.6-.7,1.216-1.4,1.813-2.111a8.384,8.384,0,0,0,.479-.694l-.08-.164a21.453,21.453,0,0,0-3.181.4,25.542,25.542,0,0,0-3.017,1.281c-.435.184-.877.327-.86.973-.263-.633-.784-.753-1.332-.907a15.028,15.028,0,0,0-7.717-.567c-1.345.314-2.849.231-3.809,1.332-.158-.212-.28-.538-.508-.652-.879-.437-1.812-.765-2.688-1.21-1.254-.635-2.593-.472-4.042-.61a5.235,5.235,0,0,0,.323.526c.582.7,1.155,1.4,1.768,2.072a3.848,3.848,0,0,0,1.092.915c.815.392,1.686.672,2.532,1a1.443,1.443,0,0,1,1.015,1.215l-1.051-.112a1.627,1.627,0,0,0,0,.33c.315,1.318.336,1.359-.84,2.016a2.981,2.981,0,0,0-1.306,1.381,4.834,4.834,0,0,1-2.211,2.315c-.416.217-.784.514-1.289.846a12.379,12.379,0,0,0,5.685-.193c-.046.382-.065.672-.112.96q-.277,1.54-.573,3.077c-.144.753-.084.865.7.831a7.455,7.455,0,0,0,4.682-1.7c.493-.419.791-.4,1.232.068.262.278.512.568.772.858a.9.9,0,0,0-.248.144c-.162.186-.469.437-.428.573.1.336.1.853.729.8.179-.016.385.256.578.4a1.859,1.859,0,0,1-1.157-.133c-.271-.2-.353-.617-.56-1.008-.336.885.112,1.734,1.205,2.464a2.132,2.132,0,0,0,2.727-.437c.775-.792,1.015-1.331.606-2.066-.1,1.064-.832,1.18-1.614,1.221.17-.2.388-.441.6-.438.589.011.607-.441.672-.784.028-.155-.224-.37-.372-.543a1.344,1.344,0,0,0-.272-.195c.218-.256.435-.506.647-.759a.858.858,0,0,1,1.411-.105,7.528,7.528,0,0,0,4.761,1.646c.491.017.726-.162.6-.7-.176-.76-.321-1.53-.46-2.3-.112-.595-.187-1.194-.292-1.88a12.331,12.331,0,0,0,5.71.209ZM66.88,103.087a6.915,6.915,0,0,1,1.328.41.478.478,0,0,0,.707-.195c.318-.6.606-1.219.879-1.84.235-.535-.179-.648-.548-.811-.4-.175-.533.019-.647.348a1.1,1.1,0,0,1-1.381.8,1.649,1.649,0,0,0-.535.077c-.144.026-.288.056-.431.084a3.871,3.871,0,0,1-.026-.468,2.725,2.725,0,0,1,.083-.381,1.653,1.653,0,0,1,1.939-1.222,8.8,8.8,0,0,0,2.164,0c.009-.06.017-.12.026-.18-.056-.064-.1-.164-.167-.187-.9-.312-1.783-.641-2.688-.911-.726-.216-1.465-.439-1.913.535-.267.582-.615,1.232-1.494.492,0,.99.075,1.792,1.111,2.1-.58.416-1.03.837-1.044.987.423-.307.784-.763,1.533-.5-.619.41-1.362.553-1.515,1.315.487-.482.951-.982,1.721-.791-.554.426-1.288.633-1.429,1.429A2.278,2.278,0,0,1,66.88,103.087ZM59,99.911a1.434,1.434,0,0,1,1.114.268,4.364,4.364,0,0,1,.752,1.312c.058.124-.016.311-.029.469-.147-.028-.292-.054-.438-.084s-.3-.119-.423-.091a1.173,1.173,0,0,1-1.534-.889c-.09-.277-.264-.408-.553-.253s-.784.128-.6.672a14.636,14.636,0,0,0,.69,1.745c.209.423.541.709,1.074.375.166-.1.41-.076.587-.168,1.12-.577,2.093-.082,2.891.9-.151-.8-.907-.995-1.456-1.426.8-.217,1.245.357,1.826.921-.2-.9-1.008-1-1.486-1.416l.136-.218,1.334.617c.022-.036.046-.072.069-.112l-1.109-.774a1.708,1.708,0,0,0,.987-2.01.7.7,0,0,0-.254.071c-.4.321-.644.166-.872-.218a5.242,5.242,0,0,0-.672-.944.757.757,0,0,0-.6-.224c-.956.232-1.9.505-2.843.792a11.029,11.029,0,0,0-1.11.491,5.266,5.266,0,0,0,2.522.2Zm7.9,1.14a.566.566,0,0,0,.847.066c.206-.171.486-.366.254-.637Zm-7.452.143a.5.5,0,0,0,.712-.148l-1.071-.568c-.18.356.1.572.358.71Zm2.912,11.753a3.065,3.065,0,0,0,2.874-.32,1.691,1.691,0,0,0,.224-1.556c-.44.8-.735,1.529-1.929,1.543-1.219.016-1.431-.824-1.926-1.532-.153,1.072.049,1.5.76,1.859Zm-.184-2.395a2.22,2.22,0,0,0,2.565.045c.306-.217.336-.169.224-.542-1,.473-1.185.814-3.013-.058C62.047,110.253,62.064,110.491,62.176,110.553Zm-.962.343a7.593,7.593,0,0,0,.336-.823.706.706,0,0,0-.015-.531c-.087-.122-.33-.17-.535-.263v1.574Zm4.209-1.232c-.141.2.308,1.008.656,1.208v-1.68a2.826,2.826,0,0,0-.655.474Z"
                    transform="translate(-40 -85.67)"
                    fill="#fff"
                  ></path>
                </g>
              </svg>
            </div>
            <h5>
              {{
                profileData.segments[0].stats.killsSpecializationSurvivalist
                  .displayName
              }}
            </h5>
            <p>
              {{
                profileData.segments[0].stats.killsSpecializationSurvivalist
                  .displayValue
              }}
            </p>
          </div>
          <div>
            <div>
              <svg
                class="icon-sharpshooter"
                data-v-5e2498f4=""
                viewBox="0 0 52 47"
                data-v-5e9bfcc5=""
              >
                <g transform="matrix(1, 0, 0, 1, 0, 0)">
                  <path
                    d="M31.927,88.393a4.983,4.983,0,0,1-1.372-.663,14.971,14.971,0,0,0-5-2.96c-.645-.248-.72-.486-.515-1.182.211-.712.479-1.412.64-2.136a2.343,2.343,0,0,0-.065-1.132c-.416-1.383-.876-2.738-.084-4.155.551-.988,1.008-2.027,1.552-3.024a92.306,92.306,0,0,0,4.368-9.318,22.117,22.117,0,0,1,.979-2,4.346,4.346,0,0,1,3.212-2.259,11.723,11.723,0,0,1,5.533.149,3.842,3.842,0,0,1,2.467,2.256c.792,1.792,1.52,3.628,2.143,5.488a87.853,87.853,0,0,0,3.755,10.236,6.246,6.246,0,0,1,.328.9,1.691,1.691,0,0,1-.665,2.153c-.687.56-1.352,1.149-2.074,1.765a12.221,12.221,0,0,1-1.113-3.221c-.6-2.912-1.161-5.841-1.828-8.742-.3-1.3-.847-2.539-1.22-3.824-.243-.834-.384-1.7-.56-2.554a6.535,6.535,0,0,1-.1-.888,1.361,1.361,0,0,0-2.183-.962c-.839.559-1.625,1.16-2.464,1.708-1.568,1.026-3.136,2.046-4.728,3.024a4.961,4.961,0,0,0-1.771,2.565c-.587,1.363-1.1,2.759-1.624,4.144a19.061,19.061,0,0,0-1.264,5.757,9.192,9.192,0,0,1-.846,3.04c-.176.43-.355.859-.506,1.3-.289.84-.041,1.219.889,1.376-.021-.224-.043-.448-.068-.729,1.975.7,2.772,2.6,4.271,3.7ZM53.991,63.968a19.209,19.209,0,0,0-5.008-5.086c-.295-.2-.372-.354-.186-.672.623-1.054,1.214-2.128,1.84-3.177.735-1.232.745-1.232-.47-1.93-.065-.037-.123-.084-.187-.122-.269-.165-.46-.158-.617.175-.2.418-.475.8-.672,1.214s-.44.436-.841.236a21.33,21.33,0,0,0-9.09-2.222,26,26,0,0,0-3.064.179,20.671,20.671,0,0,0-7.581,2.3A21.6,21.6,0,0,0,19.925,62.2c-.211.315-.389.336-.672.156-.409-.255-.824-.5-1.241-.744-.271-.159-.494-.209-.672.161-.214.448-.487.864-.769,1.354.636.372,1.232.731,1.844,1.07.078.044.224,0,.323-.03.71-.224,1.428-.421,2.119-.69a1.777,1.777,0,0,0,.763-.58,20.167,20.167,0,0,1,15.842-8.69,19.091,19.091,0,0,1,7.47,1.127c.851.3,1.668.693,2.523,1.054-.093.209-.14.328-.2.441-.391.775-.372.725-1.161.419A25.678,25.678,0,0,0,42.47,56.01a18.842,18.842,0,0,0-17.487,4.967c-.568.56-1.08,1.176-1.716,1.874.672-.022,1.111-.048,1.476-.483A16.667,16.667,0,0,1,28.73,59a17.757,17.757,0,0,1,6.646-2.475,18.122,18.122,0,0,1,5.631-.015,18.554,18.554,0,0,1,5.1,1.575c.268.125.31.256.148.515-.355.56-.68,1.148-1.016,1.725a1.463,1.463,0,0,0,.265,1.568,1.461,1.461,0,0,0,1.482-.53c.4-.678.8-1.354,1.2-2.016a1.933,1.933,0,0,1,.249.094c.112.069.213.148.319.224a17.726,17.726,0,0,1,4.368,4.395,1.078,1.078,0,0,0,1.214.489c-.138-.24-.226-.419-.337-.584ZM38.145,93.486c1.021,0,2.043-.137,3.063-.224.572-.048.687-.209.643-.883-.308.057-.61.127-.917.167a17.61,17.61,0,0,1-6.561-.237c-1.31-.324-2.569-.856-3.853-1.29-.388-.131-.4-.367-.236-.691a.472.472,0,0,0,.027-.382c-.343-.54-.712-1.063-1.12-1.662A9.967,9.967,0,0,0,28.5,89.4c-.152.328-.3.315-.548.139a18.6,18.6,0,0,1-3.985-3.767,18.139,18.139,0,0,1-3.882-11.735c.008-.5-.208-.732-.721-.833a18.48,18.48,0,0,0,1.054,7.728,18.953,18.953,0,0,0,7.488,9.5,4.081,4.081,0,0,0-.323.571c-.184.506-.429.553-.868.239A20.331,20.331,0,0,1,18.4,78.592a23.046,23.046,0,0,1-.346-5.968c.008-.174,0-.43-.1-.515-.448-.362-.942-.672-1.492-1.056a21.432,21.432,0,0,0,.381,8.873,22,22,0,0,0,9.49,13.242c-.357.636-.65,1.219-1.008,1.761-.183.28-.1.392.136.52a11.406,11.406,0,0,1,1.061.614c.317.224.466.074.612-.18.249-.433.494-.869.744-1.3.59-1.027,1.183-2.054,1.792-3.11A18.493,18.493,0,0,0,38.145,93.486ZM58.138,73.815c.5-1.831,1-3.66,1.467-5.5a.544.544,0,0,0-.242-.483c-1.2-.4-2.393-.822-3.619-1.12-2.279-.548-4.576-1.02-6.869-1.511-.482-.1-.976-.148-1.487-.224a.84.84,0,0,0,.026.214q1.792,3.549,3.6,7.1c.281.549.57,1.085,1.284,1.2a9.927,9.927,0,0,1,1.232.344c1.387.417,2.772.839,4.243,1.285C57.914,74.631,58.027,74.224,58.138,73.815Zm-38.41-5.478c.091.256.177.482.533.435.308-.041.618.028.757-.4a11.841,11.841,0,0,1,.629-1.318c.224.654.384,1.148.553,1.656,1.68,0,3.319.007,4.958-.012a.56.56,0,0,0,.4-.281c.5-1.075.984-2.16,1.462-3.248.224-.515.43-1.04.691-1.673-6.887.4-13.248,2-18.928,5.836a.548.548,0,0,0,.346.075c1.988-.152,3.976-.336,5.967-.448.935-.052,1.846-.041,2.406-1.1A5.212,5.212,0,0,1,19.728,68.337ZM54.795,85.266c.942.56,1.877,1.12,2.826,1.656,1.3.738,1.3.731,2.059-.56.019-.031.053-.055.068-.087.112-.246.133-.427-.183-.579-.448-.216-.842-.548-1.295-.753-.4-.181-.336-.414-.213-.711.321-.75.672-1.49.956-2.253a21.878,21.878,0,0,0,1.318-7.333,1.875,1.875,0,0,0-.1-.367c-.643.722-1.219,1.366-1.792,2.016a.373.373,0,0,0-.06.211,18.063,18.063,0,0,1-1.276,5.41A4.556,4.556,0,0,1,55.535,84.4c-.307.19-.6.414-.9.638ZM50.656,58.419c.17.157.272.263.386.355a15.033,15.033,0,0,1,3.546,3.784c.721,1.187,1.873.98,2.89,1.317A20.226,20.226,0,0,0,51.8,57.044ZM38.406,84.976a6.369,6.369,0,0,1-1.559.01.945.945,0,0,1-.838-1.212c-.424-.389-.962-.685-1.2-1.139a9.131,9.131,0,0,1-1.359-4.2,3.039,3.039,0,0,0-.336-.956l-.143.058c-.054.7-.082,1.4-.171,2.1a1.135,1.135,0,0,0,.4,1.083,3.048,3.048,0,0,1,.626.881c.626,1.261,1.2,2.547,1.844,3.8a1.265,1.265,0,0,0,1.579.6,1.474,1.474,0,0,1,.722,0,1.235,1.235,0,0,0,1.568-.6c.523-.978.986-1.988,1.481-2.981.326-.653.472-1.417,1.16-1.851a.569.569,0,0,0,.248-.411c-.037-.871-.112-1.742-.175-2.612l-.176-.017a6.364,6.364,0,0,0-.224.651,20.58,20.58,0,0,1-.575,2.544c-.424,1.159-.709,2.464-2.107,2.934a.932.932,0,0,1-.767,1.316Zm-3.224-3.12c.195.735.951.839,1.456,1.232a2.585,2.585,0,0,0,.767.251l.239-.207.321.279a3.784,3.784,0,0,1,.455-.326,6.02,6.02,0,0,0,1.11-.548,2.131,2.131,0,0,0,.465-2.782A1.344,1.344,0,0,0,39.538,81a1.04,1.04,0,0,1-.752,1.2,3.377,3.377,0,0,1-2.32,0c-.455-.153-.9-.745-.791-1.086a1.546,1.546,0,0,0-.379-1.419A2.4,2.4,0,0,0,35.181,81.855Zm18.071,2.9a23.742,23.742,0,0,1-1.876,2.331,1.423,1.423,0,0,0-.295,1.382,19.3,19.3,0,0,0,3.713-4.7A2.531,2.531,0,0,0,53.253,84.757ZM55.99,66.016c.7.25,1.426.418,2.128.645.472.151.6-.259.738-.5.069-.123-.149-.58-.321-.638a23.72,23.72,0,0,0-2.316-.614c-.391-.09-.623.063-.653.586.139.178.242.454.421.517ZM38.286,78.77c.232-.046.56-.161.692-.055.48.386.645-.087.879-.282a.707.707,0,0,0,.132-.486,3.052,3.052,0,0,0-.717-.224c-.208.56-.682.159-.906.149-.52-.025-.586-.087-.606.44C37.709,78.725,37.9,78.849,38.286,78.77ZM35.747,77.7a.875.875,0,0,0-.468.336,7.777,7.777,0,0,0,.56.921c.029-.066.059-.132.09-.2.356,0,.715.017,1.07-.007.157-.011.448-.1.448-.157a5.12,5.12,0,0,0-.132-.9c0-.016-.112-.03-.156-.013-.3.1-.6.211-.8.284-.258-.115-.446-.288-.608-.267ZM54.51,87.468c.852,1.061.871,1.04-.019,2.024A21.9,21.9,0,0,1,36.1,96.538a22.825,22.825,0,0,1-5.217-1.148c-.373-.127-.508-.293-.366-.693a12.341,12.341,0,0,0,.3-1.207c.836.242,1.63.48,2.429.7a18.228,18.228,0,0,0,6.035.6c.872-.054,1.738-.2,2.608-.292a1.081,1.081,0,0,0,.941-.717,63.773,63.773,0,0,1,6.908-11.264A21.022,21.022,0,0,0,51.9,79.236a23.922,23.922,0,0,0,1.052-3.109c.394-1.145.586-1.189,1.551-.422.16.128.3.277.467.4a1.323,1.323,0,0,1,.528,1.388,9.112,9.112,0,0,0,.112,2.383,1.5,1.5,0,0,1-.641,1.539A34.39,34.39,0,0,0,52.221,84.3a41.368,41.368,0,0,0-5.482,8.408c-.022.04,0,.1,0,.3.717-.394,1.382-.734,2.016-1.12a19.568,19.568,0,0,0,5.111-4.426c.259-.312.365-.337.645.011Zm-8.689,5.6c.738-1.344,1.52-2.662,2.284-3.992.136-.235.267-.474.4-.711-1.949,1.289-2.629,3.42-3.826,5.376.561-.121.907-.239,1.142-.665ZM44.079,74.206a12.738,12.738,0,0,0-.819,1.1c-.255.405-.622.391-1.086.4.1-.347.189-.637.252-.851l-2.853-1.12a1.551,1.551,0,0,0,.168,1.354,2.951,2.951,0,0,1,.3,2.294c-.636-.336-1.217.3-1.912-.078-.336-.18-.9.1-1.369.133a2.746,2.746,0,0,1-.635-.075c-.072-.012-.134-.073-.206-.084-.224-.037-.645-.029-.656-.1a4.4,4.4,0,0,1-.057-1.3,2.206,2.206,0,0,1,.377-.858,1.316,1.316,0,0,0,.091-1.266l-2.819,1.1c.05.19.131.489.224.829-.483.04-.9.045-1.138-.506a3.507,3.507,0,0,0-.672-.877c-.351-.383-.3-.613.2-.784.187-.063.368-.147.578-.232-.132-.286-.246-.515-.346-.752a2.3,2.3,0,0,1,.426-2.576c.168-.195.4-.428.408-.652.05-1.043.884-1.308,1.588-1.719A21.229,21.229,0,0,1,38.861,65.8c.054-.016.106-.036.16-.052.351-.1.837-.39,1.025-.258a2.934,2.934,0,0,1,.937,1.2,10.415,10.415,0,0,0,1.809,3.36c.1.106.2.218.3.327a1.734,1.734,0,0,1,.365,2.369c-.075.164-.128.336-.207.554.256.091.46.166.666.235C44.327,73.675,44.323,73.9,44.079,74.206Zm-7.026-2.923,1.067-.1c-.112-.112-.336-.466-.474-.437C37.419,70.8,37.246,71.094,37.053,71.282Zm-.514-.241a.784.784,0,0,1,.287-.441c.707-.552.689-1.3-.152-1.961a5.236,5.236,0,0,1,.139.811c0,.224,0,.542-.14.646a.774.774,0,0,1-.651-.052,10.79,10.79,0,0,1-1.037-.638l-.065.081c.094.189.187.38.336.672-.365-.085-.642-.156-.922-.212-1.324-.267-1.947.336-1.68,1.641a5.4,5.4,0,0,0,.194.7c.394,1.144.627,1.278,1.749.9A2.576,2.576,0,0,0,36.539,71.042Zm2.274,4.23a8.3,8.3,0,0,0-.534-2.072c-.081-.187-.672-.176-1.032-.2a.427.427,0,0,0-.336.224c-.18.595-.321,1.2-.416,1.568-.018,1.1.066,1.165.931,1.077a3.48,3.48,0,0,1,.663.035c.512.056.8-.134.724-.625Zm3.772-4.758a.64.64,0,0,0-.336-.366,2.064,2.064,0,0,0-1.777-.072,1.751,1.751,0,0,1-.448.045l.38-.672-.083-.074c-.367.235-.721.5-1.107.692a.712.712,0,0,1-.6.043c-.125-.094-.157-.388-.149-.59a6.373,6.373,0,0,1,.174-.909c-.825.619-.868,1.477-.211,1.975a.642.642,0,0,1,.248.336,2.892,2.892,0,0,0,2.52,2.4.976.976,0,0,0,.82-.235,3.071,3.071,0,0,0,.571-2.568Z"
                    transform="translate(-10.78 -52.38)"
                    fill="#fff"
                  ></path>
                </g>
              </svg>
            </div>
            <h5>
              {{
                profileData.segments[0].stats.killsSpecializationSharpshooter
                  .displayName
              }}
            </h5>
            <p>
              {{
                profileData.segments[0].stats.killsSpecializationSharpshooter
                  .displayValue
              }}
            </p>
          </div>
          <div>
            <div>
              <svg
                class="icon-demolitionist"
                data-v-5e2498f4=""
                viewBox="0 0 47 52"
                data-v-5e9bfcc5=""
              >
                <g transform="matrix(1, 0, 0, 1, 0, 0)">
                  <path
                    d="M72.419,26.83c.315.784.57,1.413.821,2.045.784,1.964,1.574,3.92,2.333,5.9.186.485.376.469.767.224q4.361-2.8,8.748-5.552c.136-.086.289-.144.58-.288-1,3.835-1.961,7.543-2.944,11.33l9.223.607c-.56.482-1.008.869-1.467,1.249-1.232,1.036-2.464,2.085-3.724,3.092-.383.3-.323.476-.022.774,2.576,2.566,5.13,5.152,7.713,7.707.385.38.383.573,0,.956q-9.953,9.944-19.874,19.9c-.7.706-1.415,1.406-2.055,2.043L49.91,54.445c.691-.707,1.315-1.355,1.949-1.991q3.158-3.171,6.327-6.329c.265-.263.264-.41-.035-.654-1.637-1.338-3.257-2.7-4.882-4.049-.093-.077-.177-.164-.353-.328l9.324-.609c-.956-3.777-1.9-7.489-2.835-11.2.04-.031.082-.062.123-.092.819.528,1.636,1.06,2.458,1.583,2.208,1.406,4.421,2.8,6.621,4.217.42.27.584.112.731-.278q1.048-2.732,2.117-5.457C71.753,28.5,72.056,27.745,72.419,26.83Zm.148,17a2.144,2.144,0,0,0-.672.336c-.831.9-1.621,1.824-2.453,2.717a.683.683,0,0,1-.568.137c-.647-.162-1.285-.37-1.916-.587a.4.4,0,0,1-.214-.317,2.468,2.468,0,0,1,.215-1.07,6.272,6.272,0,0,1,1.269-1.44c.992-.784,1.967-1.67,3.419-1.441a1.332,1.332,0,0,1,1.205.823c.09.224.346.511.548.528a9.849,9.849,0,0,0,1.807-.052A1.369,1.369,0,0,1,76.861,44.9c0,.187.008.374,0,.56-.013.3.065.427.422.376a1.84,1.84,0,0,1,2.3,1.662.669.669,0,0,0,.517.552,3.055,3.055,0,0,1,1.418.784,11.733,11.733,0,0,1,1.036,2.318.673.673,0,0,1-.087.426c-.112.272-.281.526-.388.8a9.707,9.707,0,0,0-1.044,2.958c-.083,1.326-.105,2.744-1.243,3.759a6.446,6.446,0,0,0-.716.776c-.581.724-1.382,1.3-1.512,2.328-.067.534-.236,1.055-.329,1.587-.147.828-.268,1.659-.423,2.643.224-.194.328-.267.416-.354q1.463-1.462,2.923-2.929,4.221-4.232,8.446-8.463c.224-.224.259-.353-.007-.612-1.509-1.476-2.98-2.989-4.48-4.473-.84-.831-1.71-1.631-2.608-2.485l5.028-4.227c-.019-.049-.039-.1-.059-.147l-6.6-.44c.727-2.8,1.424-5.488,2.121-8.176l-.112-.086-7,4.439c-.822-2.076-1.606-4.054-2.453-6.191-.846,2.165-1.627,4.17-2.436,6.24l-7.04-4.5-.087.112c.679,2.695,1.359,5.391,2.061,8.176l-6.555.432-.138.237a1.344,1.344,0,0,1,.36.147c1.444,1.2,2.873,2.406,4.329,3.593.284.233.336.355.041.642-1.725,1.7-3.426,3.422-5.133,5.139-.619.623-1.232,1.252-1.925,1.959l8.523,8.417c.467.46.463.585,0,1.065L54.7,54.364l7.345-7.243-2.557-2.093a4.473,4.473,0,0,0,.241,1.344.936.936,0,0,1-.248,1.091c-1.847,1.808-3.658,3.651-5.479,5.488-.477.48-.948.965-1.413,1.44l13.1,13A7.685,7.685,0,0,0,66.39,65.8c.256-1.292.41-2.606.578-3.92.128-1,.212-2.007.336-3.182a4.01,4.01,0,0,0,2.387,1.65c.235.054.469.119.706.168.414.086.6.3.487.744-.167.688-.314,1.38-.448,2.074-.106.528-.186,1.06-.277,1.589l.278.069L71.586,61a1.557,1.557,0,0,1,.244.048c.824.372,1.653.734,2.464,1.131a.525.525,0,0,1,.185.44c-.1.869-.2,1.742-.376,2.6a11.445,11.445,0,0,1-.963,3.353,30.966,30.966,0,0,0-1.475,3.414,1.539,1.539,0,0,0,.468,2.07c.24.166.351.233.589-.016q1.5-1.561,3.056-3.068a1.205,1.205,0,0,0,.41-.981,26.18,26.18,0,0,1,.784-7.149,4.223,4.223,0,0,1,.769-2.23c.7-.716,1.357-1.474,2.01-2.24a1.76,1.76,0,0,0,.416-.762c.178-.933.291-1.877.442-2.815a3.548,3.548,0,0,1,.218-.861c.329-.748.694-1.48,1.044-2.218a1.255,1.255,0,0,0-.336-1.547c.181.579-.132.84-.523,1.072a7.234,7.234,0,0,0-.924.615c-.373.307-.716.458-1.054-.012a2.641,2.641,0,0,1-.318.9,3.422,3.422,0,0,1-.925.5l.883.278a4.726,4.726,0,0,1-3.3,1.847c-.261.032-.566-.279-.85-.432a5.117,5.117,0,0,1,.346-.595,12.649,12.649,0,0,0,1.5-1.962,4.631,4.631,0,0,1,1.061-1.525c.458-.4.943-.776,1.427-1.149a.548.548,0,0,0,.085-.888,1.057,1.057,0,0,0-1.044.258c-.36.492-.712.989-1.1,1.456q-1.411,1.726-2.849,3.42a.984.984,0,0,1-.573.38,1.249,1.249,0,0,1-1.188-1.68,7,7,0,0,0,.47-1.368,3.161,3.161,0,0,1,1.25-2.148c.661-.507,1.3-1.046,1.941-1.579.239-.2.3-1.164.05-1.344-.448-.318-.655.1-.889.37-.512.588-.977,1.225-1.54,1.758A8.049,8.049,0,0,1,71.953,49.4a.455.455,0,0,1-.687-.351,1.354,1.354,0,0,0-.865-1.008c-.383-.162-.448-.423-.141-.728.672-.661,1.32-1.361,2.052-1.954A1.016,1.016,0,0,0,72.566,43.829Zm4.091,25.924Q84.4,62.112,92.226,54.386c-.112-.13-.195-.231-.284-.321-2.206-2.221-4.4-4.451-6.633-6.649a.861.861,0,0,1-.224-1.075,10.672,10.672,0,0,0,.325-1.212l-.094-.064-2.564,2.089,7.348,7.2c-.256.272-.441.477-.636.672q-6.219,6.241-12.432,12.484a1.072,1.072,0,0,0-.354.54C76.63,68.659,76.658,69.27,76.658,69.753Zm-12.011-18.5c.008.739.3,1.065,1.036,1.107.349.02.7.044,1.044.065a1.3,1.3,0,0,1-1.027,1.4,3.259,3.259,0,0,0-.71.412c.286.032.571.081.858.1.837.041,1.3-.56,1.777-1.1a.706.706,0,0,1,1.02-.175c.88.534,1.764,1.063,2.626,1.625a.816.816,0,0,1,.281,1.131,8.594,8.594,0,0,1-.7,1.25.927.927,0,0,1-.61.314c-.927.086-1.858.152-2.79.168a1.58,1.58,0,0,1-.862-.274,4.585,4.585,0,0,1-1.792-2.6,6.723,6.723,0,0,0-1.225-1.954,1.417,1.417,0,0,1-.267-1.476,28.315,28.315,0,0,0,.766-3.024,1.069,1.069,0,0,1,.949-.9c1.863-.43,3.41.384,4.964,1.182a.986.986,0,0,1,.548,1.129c-.122.6-.242,1.3-.931,1.466a26.065,26.065,0,0,1-3.614.629C65.549,51.782,65.079,51.425,64.647,51.257Zm3.36-1.811c0,.834.448.953,1.193,1.1.271.055.784-.885.784-1.378,0-.358-.613-.7-1.232-.693-.488.007-.741.335-.744.968Zm3.326,10.162a2.877,2.877,0,0,1,1.827.524,1.383,1.383,0,0,0,2.2-.389,14.741,14.741,0,0,0,1.239-2.41c.29-.666.09-.9-.633-.969a6.182,6.182,0,0,1-1.633-.243c-.454-.174-.578-.087-.784.309-.65,1.252-1.208,2.616-2.819,2.964-.013,0-.021.028-.112.161a5.659,5.659,0,0,0,.718.053Zm-2.474-.713a.353.353,0,0,0,.207.068c.849-.074,1.809-.024,2.4-.7a15.055,15.055,0,0,0,1.514-2.43c.047-.082-.1-.274-.152-.417-.112.068-.27.112-.328.211-.252.432-.5.871-.7,1.326a2.453,2.453,0,0,1-2.164,1.5c-.3.028-.6.1-1.024.165a2.111,2.111,0,0,0,.253.276Z"
                    transform="translate(-49.91 -26.83)"
                    fill="#fff"
                  ></path>
                </g>
              </svg>
            </div>
            <h5>
              {{
                profileData.segments[0].stats.killsSpecializationDemolitionist
                  .displayName
              }}
            </h5>
            <p>
              {{
                profileData.segments[0].stats.killsSpecializationDemolitionist
                  .displayValue
              }}
            </p>
          </div>
        </article>
      </section>

      <div class="container-desktop">
        <section class="lifetime">
          <div class="lifetime-header">
            <h4>Lifetime</h4>
            <svg
              class="icon icon-time"
              data-v-c8044cb6=""
              data-v-065b0ba0=""
              viewBox="0 0 19.949 19.97"
            >
              <path
                data-v-c8044cb6=""
                data-v-065b0ba0=""
                d="M10.95 0v2.02a8 8 0 010 15.88v2a10 10 0 000-19.9m-2 .03a9.827 9.827 0 00-5.33 2.2l1.43 1.48a8 8 0 013.9-1.68v-2M2.21 3.64A9.885 9.885 0 000 8.97h2a8.017 8.017 0 011.64-3.9L2.21 3.64m-2.2 7.33a10.039 10.039 0 002.21 5.33l1.42-1.43a8 8 0 01-1.63-3.9h-2m5.04 5.37l-1.43 1.37a9.994 9.994 0 005.33 2.26v-2a8 8 0 01-3.9-1.63m5.4-11.37v5.25l4.5 2.67-.75 1.23-5.25-3.15v-6z"
                fill="#fff"
              ></path>
            </svg>
            <p>
              {{ profileData.segments[0].stats.timePlayed.displayValue }} Play
              Time
            </p>
          </div>
          <article class="lifetime-details">
            <div>
              <h5>{{ profileData.segments[0].stats.killsPvP.displayName }}</h5>
              <p>{{ profileData.segments[0].stats.killsPvP.displayValue }}</p>
            </div>
            <div>
              <h5>{{ profileData.segments[0].stats.killsNpc.displayName }}</h5>
              <p>{{ profileData.segments[0].stats.killsNpc.displayValue }}</p>
            </div>
            <div>
              <h5>
                {{ profileData.segments[0].stats.killsSkill.displayName }}
              </h5>
              <p>{{ profileData.segments[0].stats.killsSkill.displayValue }}</p>
            </div>
            <div>
              <h5>{{ profileData.segments[0].stats.headshots.displayName }}</h5>
              <p>{{ profileData.segments[0].stats.headshots.displayValue }}</p>
            </div>
            <div>
              <h5>
                {{ profileData.segments[0].stats.itemsLooted.displayName }}
              </h5>
              <p>
                {{ profileData.segments[0].stats.itemsLooted.displayValue }}
              </p>
            </div>
            <div>
              <h5>
                {{ profileData.segments[0].stats.eCreditBalance.displayName }}
              </h5>
              <p>
                {{ profileData.segments[0].stats.eCreditBalance.displayValue }}
              </p>
            </div>
            <div>
              <h5>
                {{
                  profileData.segments[0].stats.commendationCount.displayName
                }}
              </h5>
              <p>
                {{
                  profileData.segments[0].stats.commendationCount.displayValue
                }}
              </p>
            </div>
            <div>
              <h5>
                {{
                  profileData.segments[0].stats.commendationScore.displayName
                }}
              </h5>
              <p>
                {{
                  profileData.segments[0].stats.commendationScore.displayValue
                }}
              </p>
            </div>
            <div>
              <h5>
                {{
                  profileData.segments[0].stats.killsSpecializationSharpshooter
                    .displayName
                }}
              </h5>
              <p>
                {{
                  profileData.segments[0].stats.killsSpecializationSharpshooter
                    .displayValue
                }}
              </p>
            </div>
            <div>
              <h5>
                {{
                  profileData.segments[0].stats.killsSpecializationSurvivalist
                    .displayName
                }}
              </h5>
              <p>
                {{
                  profileData.segments[0].stats.killsSpecializationSurvivalist
                    .displayValue
                }}
              </p>
            </div>
            <div>
              <h5>
                {{
                  profileData.segments[0].stats.killsSpecializationDemolitionist
                    .displayName
                }}
              </h5>
              <p>
                {{
                  profileData.segments[0].stats.killsSpecializationDemolitionist
                    .displayValue
                }}
              </p>
            </div>
          </article>
        </section>

        <section class="dark-zone">
          <div class="dark-zone-header">
            <svg
              class="icon icon-dz-orange"
              data-v-5e2498f4=""
              viewBox="0 0 30 28"
              data-v-5e9bfcc5=""
            >
              <g transform="matrix(1, 0, 0, 1, 0, 0)">
                <path
                  d="M-211-182.785c-.019.15-.037.3-.058.451a.337.337,0,0,1-.059.152c-.025-.229-.048-.459-.075-.688a6.241,6.241,0,0,0-3.165-4.78,6.17,6.17,0,0,0-3.671-.9,5.63,5.63,0,0,0-4.018,1.96c-.047.054-.093.109-.143.16-.216.22-.132.231-.443.069-.16-.084-.309-.187-.469-.273a.178.178,0,0,1-.1-.181,4.257,4.257,0,0,0-.049-.879,1.745,1.745,0,0,0-.993-1.168.412.412,0,0,1-.292-.476,6.118,6.118,0,0,0,.007-.642.252.252,0,0,1,.016-.054,3.169,3.169,0,0,0,1.149-.219,5.766,5.766,0,0,0,3.489-3.208,6.519,6.519,0,0,0-1.162-7.159,6.12,6.12,0,0,0-1.38-1.077.535.535,0,0,1-.14-.109,7.476,7.476,0,0,1,4.6,4.3,7.558,7.558,0,0,1-.191,6.322c.254.037.488.067.722.106a7.5,7.5,0,0,1,4.748,2.763,7.753,7.753,0,0,1,1.581,3.424c.043.214.046.435.069.652.008.075.018.149.027.223Zm-28-.086.089.728a5,5,0,0,0,.083-.553,6.491,6.491,0,0,1,.53-2.048,6.624,6.624,0,0,1,5.956-3.815,5.66,5.66,0,0,1,4.128,1.684c.175.174.337.363.5.549a.134.134,0,0,0,.195.038c.2-.115.406-.228.613-.335a.185.185,0,0,0,.107-.193c0-.219.014-.438.021-.656a1.344,1.344,0,0,1,.268-.755,1.937,1.937,0,0,1,.895-.705.211.211,0,0,0,.154-.255c-.019-.194-.017-.39-.026-.585-.012-.281.038-.227-.232-.267a5.215,5.215,0,0,1-2.917-1.387,6.287,6.287,0,0,1-1.885-6.261,6,6,0,0,1,2.989-4.042c.044-.025.086-.055.129-.082a7.285,7.285,0,0,0-3.947,3,7.669,7.669,0,0,0-.513,7.639l-.07.012c-.436.07-.881.107-1.307.217a7.6,7.6,0,0,0-4.018,2.547,7.453,7.453,0,0,0-1.659,3.658c-.04.248-.056.5-.082.749Zm6.843,6.931a7.688,7.688,0,0,0,7.171-3.35,7.454,7.454,0,0,0,2.318,2.225,7.6,7.6,0,0,0,3,1.1,7.446,7.446,0,0,0,3.206-.242,7.148,7.148,0,0,0,2.794-1.557l-.1.054a5.953,5.953,0,0,1-3.89.755,6.488,6.488,0,0,1-4.4-2.575,5.7,5.7,0,0,1-1.112-4.791c.071-.338.194-.665.3-1,.027-.085.02-.138-.066-.186-.245-.136-.485-.282-.725-.423-.133.1-.255.2-.389.278a1.861,1.861,0,0,1-2.155-.191c-.084-.072-.144-.094-.244-.026-.149.1-.311.184-.466.277-.244.145-.245.147-.155.423a6.254,6.254,0,0,1,.352,1.525,5.877,5.877,0,0,1-1.038,3.866,6.482,6.482,0,0,1-4.635,2.823,5.9,5.9,0,0,1-3.559-.605c-.137-.071-.27-.151-.431-.242A7.3,7.3,0,0,0-232.157-175.94Z"
                  transform="translate(239 201.81)"
                  fill="#fe6b12"
                ></path>
              </g>
            </svg>
            <h4>Dark Zone</h4>
            <svg
              class="icon icon-time"
              data-v-c8044cb6=""
              data-v-065b0ba0=""
              viewBox="0 0 19.949 19.97"
            >
              <path
                data-v-c8044cb6=""
                data-v-065b0ba0=""
                d="M10.95 0v2.02a8 8 0 010 15.88v2a10 10 0 000-19.9m-2 .03a9.827 9.827 0 00-5.33 2.2l1.43 1.48a8 8 0 013.9-1.68v-2M2.21 3.64A9.885 9.885 0 000 8.97h2a8.017 8.017 0 011.64-3.9L2.21 3.64m-2.2 7.33a10.039 10.039 0 002.21 5.33l1.42-1.43a8 8 0 01-1.63-3.9h-2m5.04 5.37l-1.43 1.37a9.994 9.994 0 005.33 2.26v-2a8 8 0 01-3.9-1.63m5.4-11.37v5.25l4.5 2.67-.75 1.23-5.25-3.15v-6z"
                fill="#fff"
              ></path>
            </svg>
            <p>
              {{
                profileData.segments[0].stats.timePlayedDarkZone.displayValue
              }}
              Play Time
            </p>
          </div>
          <article class="dark-zone-details">
            <div>
              <h5>{{ profileData.segments[0].stats.rankDZ.displayName }}</h5>
              <p>{{ profileData.segments[0].stats.rankDZ.displayValue }}</p>
            </div>
            <div>
              <h5>{{ profileData.segments[0].stats.xPDZ.displayName }}</h5>
              <p>{{ profileData.segments[0].stats.xPDZ.displayValue }}</p>
            </div>
            <div>
              <h5>
                {{
                  profileData.segments[0].stats.timePlayedDarkZone.displayName
                }}
              </h5>
              <p>
                {{
                  profileData.segments[0].stats.timePlayedDarkZone.displayValue
                }}
              </p>
            </div>
            <div>
              <h5>
                {{ profileData.segments[0].stats.roguesKilled.displayName }}
              </h5>
              <p>
                {{ profileData.segments[0].stats.roguesKilled.displayValue }}
              </p>
            </div>
            <div>
              <h5>
                {{ profileData.segments[0].stats.timePlayedRogue.displayName }}
              </h5>
              <p>
                {{ profileData.segments[0].stats.timePlayedRogue.displayValue }}
              </p>
            </div>
            <div>
              <h5>
                {{
                  profileData.segments[0].stats.timePlayedRogueLongest
                    .displayName
                }}
              </h5>
              <p>
                {{
                  profileData.segments[0].stats.timePlayedRogueLongest
                    .displayValue
                }}
              </p>
            </div>
            <div>
              <h5>
                {{
                  profileData.segments[0].stats.killsFactionDzBlackbloc
                    .displayName
                }}
              </h5>
              <p>
                {{
                  profileData.segments[0].stats.killsFactionDzBlackbloc
                    .displayValue
                }}
              </p>
            </div>
            <div>
              <h5>
                {{
                  profileData.segments[0].stats.killsFactionDzCultists
                    .displayName
                }}
              </h5>
              <p>
                {{
                  profileData.segments[0].stats.killsFactionDzCultists
                    .displayValue
                }}
              </p>
            </div>
            <div>
              <h5>
                {{
                  profileData.segments[0].stats.killsFactionDzMilitia
                    .displayName
                }}
              </h5>
              <p>
                {{
                  profileData.segments[0].stats.killsFactionDzMilitia
                    .displayValue
                }}
              </p>
            </div>
            <div>
              <h5>
                {{
                  profileData.segments[0].stats.killsFactionDzEndgame
                    .displayName
                }}
              </h5>
              <p>
                {{
                  profileData.segments[0].stats.killsFactionDzEndgame
                    .displayValue
                }}
              </p>
            </div>
            <div>
              <h5>
                {{ profileData.segments[0].stats.killsRoleDzElite.displayName }}
              </h5>
              <p>
                {{
                  profileData.segments[0].stats.killsRoleDzElite.displayValue
                }}
              </p>
            </div>
            <div>
              <h5>
                {{ profileData.segments[0].stats.killsRoleDzNamed.displayName }}
              </h5>
              <p>
                {{
                  profileData.segments[0].stats.killsRoleDzNamed.displayValue
                }}
              </p>
            </div>
          </article>
        </section>

        <section class="pve">
          <div class="pve-header">
            <svg
              class="icon icon-pve"
              data-v-c8044cb6=""
              viewBox="0 0 27 30"
              data-v-065b0ba0=""
            >
              <g transform="matrix(1, 0, 0, 1, 0, 0)">
                <path
                  d="M1068.647,1717.859l-12.124,7v14l12.124,7,12.124-7v-14Zm9.324,19.383-9.324,5.384-9.324-5.384v-10.767l9.324-5.383,9.324,5.383Zm-9.324-14.534-7.924,4.575v9.15l7.924,4.575,7.924-4.575v-9.15Zm6.524,12.917-6.524,3.767-6.524-3.767v-7.534l6.524-3.767,6.524,3.767Z"
                  transform="translate(-1056.52 -1717.86)"
                  fill="#fe6b12"
                ></path>
              </g>
            </svg>
            <h4>PvE</h4>
            <svg
              class="icon icon-time"
              data-v-c8044cb6=""
              data-v-065b0ba0=""
              viewBox="0 0 19.949 19.97"
            >
              <path
                data-v-c8044cb6=""
                data-v-065b0ba0=""
                d="M10.95 0v2.02a8 8 0 010 15.88v2a10 10 0 000-19.9m-2 .03a9.827 9.827 0 00-5.33 2.2l1.43 1.48a8 8 0 013.9-1.68v-2M2.21 3.64A9.885 9.885 0 000 8.97h2a8.017 8.017 0 011.64-3.9L2.21 3.64m-2.2 7.33a10.039 10.039 0 002.21 5.33l1.42-1.43a8 8 0 01-1.63-3.9h-2m5.04 5.37l-1.43 1.37a9.994 9.994 0 005.33 2.26v-2a8 8 0 01-3.9-1.63m5.4-11.37v5.25l4.5 2.67-.75 1.23-5.25-3.15v-6z"
                fill="#fff"
              ></path>
            </svg>
            <p>
              {{ profileData.segments[0].stats.timePlayedPve.displayValue }}
              Play Time
            </p>
          </div>
          <article class="pve-details">
            <div>
              <h5>
                {{ profileData.segments[0].stats.latestGearScore.displayName }}
              </h5>
              <p>
                {{ profileData.segments[0].stats.latestGearScore.displayValue }}
              </p>
            </div>
            <div>
              <h5>
                {{
                  profileData.segments[0].stats.highestPlayerLevel.displayName
                }}
              </h5>
              <p>
                {{
                  profileData.segments[0].stats.highestPlayerLevel.displayValue
                }}
              </p>
            </div>
            <div>
              <h5>{{ profileData.segments[0].stats.xPPve.displayName }}</h5>
              <p>{{ profileData.segments[0].stats.xPPve.displayValue }}</p>
            </div>
            <div>
              <h5>
                {{ profileData.segments[0].stats.timePlayedPve.displayName }}
              </h5>
              <p>
                {{ profileData.segments[0].stats.timePlayedPve.displayValue }}
              </p>
            </div>
            <div>
              <h5>
                {{ profileData.segments[0].stats.killsRoleElite.displayName }}
              </h5>
              <p>
                {{ profileData.segments[0].stats.killsRoleElite.displayValue }}
              </p>
            </div>
            <div>
              <h5>
                {{ profileData.segments[0].stats.killsRoleNamed.displayName }}
              </h5>
              <p>
                {{ profileData.segments[0].stats.killsRoleNamed.displayValue }}
              </p>
            </div>
            <div>
              <h5>
                {{
                  profileData.segments[0].stats.killsFactionBlackbloc
                    .displayName
                }}
              </h5>
              <p>
                {{
                  profileData.segments[0].stats.killsFactionBlackbloc
                    .displayValue
                }}
              </p>
            </div>
            <div>
              <h5>
                {{
                  profileData.segments[0].stats.killsFactionCultists.displayName
                }}
              </h5>
              <p>
                {{
                  profileData.segments[0].stats.killsFactionCultists
                    .displayValue
                }}
              </p>
            </div>
            <div>
              <h5>
                {{
                  profileData.segments[0].stats.killsFactionMilitia.displayName
                }}
              </h5>
              <p>
                {{
                  profileData.segments[0].stats.killsFactionMilitia.displayValue
                }}
              </p>
            </div>
            <div>
              <h5>
                {{
                  profileData.segments[0].stats.killsFactionEndgame.displayName
                }}
              </h5>
              <p>
                {{
                  profileData.segments[0].stats.killsFactionEndgame.displayValue
                }}
              </p>
            </div>
          </article>
        </section>
      </div>
    </div>
  </section>
</template>

<script>
import axios from "axios";

export default {
  name: "Profile",
  data() {
    return {
      //Donnée permettant de définir si l'on est en train de charger les données de la requête
      loading: false,
      //Donnée qui permet de définir s'il y a une erreur lors de la requête
      error: null,
      //Donnée qui contiendra toutes les informations sur le profil de l'utilisateur
      profileData: null,
    };
  },
  //Fonction qui va s'exécuter au chargement de la page
  async created() {
    //Passage de la variable loading à true pour dire qu'on charge les informations
    this.loading = true;
    try {
      //Utilisation d'axios pour effectuer la requête vers l'API avec les paramètres de plateforme et nom d'utilisateur
      const response = await axios.get(
        `/api/v1/profile/${this.$route.params.platform}/${this.$route.params.gamertag}`
      );
      //Chargement des données du profil dans la variable profileData
      this.profileData = response.data.data;
      //Passage de la variable loading à false pour dire qu'on a fini le chargement des informations
      this.loading = false;
    } catch (err) {
      this.loading = false;
      //On affiche le message d'erreur que l'on a indiqué dans le back
      this.error = err.response.data.message;
    }
  },
};
</script>

<style>
/* Version Téléphone */
.profile {
  min-height: 400px;
  color: rgb(255, 255, 255);
}
/* Style pour le titre lors du chargmement des informations */
.profile .loading h3 {
  font-size: 2rem;
  text-align: center;
  margin: 3rem auto;
}
/* Style pour les éléments affichés lorsqu'il y a une erreur */
.profile .error {
  margin: 0 2rem;
}
.profile .error h1 {
  font-size: 1.7rem;
  margin: 2rem 0;
}
.profile .error a {
  font-size: 1.2rem;
  background-color: rgb(255, 106, 0);
  text-decoration: none;
  padding: 0.2rem 0.4rem;
}
/* Style pour les informations de jeu du joueur */
.profile .container {
  width: 350px;
  margin: 0 auto;
  padding: 1rem 0;
}
.profile .container .icon {
  width: 30px;
  margin-right: 10px;
}
.profile .container .icon-time {
  width: 20px;
}
.profile .container .stats-summary {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.profile .container .stats-summary article {
  margin-bottom: 1rem;
}
.profile .container .stats-summary .gamertag {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
.profile .container .stats-summary .gamertag .icon-platform {
  width: 20px;
}
.profile .container .stats-summary .gamertag div h1 {
  font-size: 1.2rem;
}
.profile .container .stats-summary .gamertag div,
.profile .container .stats-summary .gearscore-details {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.profile .container .stats-summary .gearscore {
  font-size: 1.1rem;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 90%;
  margin: 0 auto 1rem;
  background: linear-gradient(90deg, rgba(115, 82, 22, 1) 0%, transparent 100%);
  border: 1px solid rgb(255, 255, 255);
}
.profile .container .stats-summary .gearscore div {
  width: 48%;
  margin: 1%;
}
.profile .container .stats-summary .gearscore .gearscore-details {
  text-align: center;
  border-left: 5px solid rgb(255, 179, 26);
}
.profile .container .stats-summary .gearscore .gearscore-details .icon-phenix {
  width: 50px;
}
.profile .container .stats-summary .gearscore .gearscore-details div span,
.profile .container .stats-summary .gearscore .level span {
  color: rgb(255, 179, 26);
}
.profile .container .stats-summary .gearscore .level {
  text-align: center;
}
.profile .container .stats-summary .life-overview,
.profile .container .container-desktop .lifetime .lifetime-details,
.profile .container .container-desktop .dark-zone .dark-zone-details,
.profile .container .container-desktop .pve .pve-details {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}
.profile .container .stats-summary .life-overview h4 {
  width: 100%;
  text-align: center;
  padding: 0.3rem 0;
}
.profile .container .stats-summary .life-overview div,
.profile .container .container-desktop .lifetime .lifetime-details div,
.profile .container .container-desktop .dark-zone .dark-zone-details div,
.profile .container .container-desktop .pve .pve-details div {
  font-size: 1.1rem;
  text-align: center;
  padding: 0.5rem 1rem;
}
.profile .container .stats-summary .life-overview div .icon-dz,
.profile .container .stats-summary .life-overview div .icon-conflict,
.profile .container .stats-summary .life-overview div .icon-survivalist,
.profile .container .stats-summary .life-overview div .icon-sharpshooter,
.profile .container .stats-summary .life-overview div .icon-demolitionist {
  width: 40px;
}
.profile .container .stats-summary .life-overview div .icon-commendation {
  width: 20px;
}
.profile .container .container-desktop .lifetime .lifetime-header,
.profile .container .container-desktop .dark-zone .dark-zone-header,
.profile .container .container-desktop .pve .pve-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem 0;
}
.profile .container .container-desktop .lifetime .lifetime-header h4,
.profile .container .container-desktop .dark-zone .dark-zone-header h4,
.profile .container .container-desktop .pve .pve-header h4 {
  font-size: 1.2rem;
  margin-right: 20px;
}
.profile .container .container-desktop .dark-zone .dark-zone-header {
  border-left: 5px solid rgb(162, 93, 255);
  background: linear-gradient(90deg, rgba(69, 42, 106, 1) 0%, transparent 100%);
}
.profile
  .container
  .container-desktop
  .dark-zone
  .dark-zone-header
  .icon-dz-orange,
.profile .container .container-desktop .pve .pve-header .icon-pve {
  margin-left: 2px;
  margin-right: 5px;
}
.profile .container .container-desktop .pve .pve-header {
  border-left: 5px solid rgb(53, 207, 213);
  background: linear-gradient(90deg, rgba(27, 87, 89, 1) 0%, transparent 100%);
}

/* Version Tablette */
@media screen and (min-width: 768px) {
  .profile .error {
    margin: 0 5rem;
  }
  .profile .container {
    width: 750px;
  }
  .profile .container .stats-summary .gearscore {
    width: 40%;
  }
  .profile .container .stats-summary .life-overview div,
  .profile .container .container-desktop .lifetime .lifetime-details div,
  .profile .container .container-desktop .dark-zone .dark-zone-details div,
  .profile .container .container-desktop .pve .pve-details div {
    margin: 0.5rem;
  }
  .profile .container .container-desktop .lifetime .lifetime-header,
  .profile .container .container-desktop .dark-zone .dark-zone-header,
  .profile .container .container-desktop .pve .pve-header {
    justify-content: flex-start;
  }
  .profile .container .container-desktop .lifetime .lifetime-header h4 {
    margin-left: 20px;
  }
  .profile
    .container
    .container-desktop
    .dark-zone
    .dark-zone-header
    .icon-dz-orange,
  .profile .container .container-desktop .pve .pve-header .icon-pve {
    margin: 0 10px;
  }
}

/* Version Dekstop */
@media screen and (min-width: 1024px) {
  .profile {
    min-height: 700px;
  }
  .profile .error {
    margin: 0 10rem;
  }
  .profile .container {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  .profile .container .stats-summary {
    width: 20%;
    margin-right: 2%;
  }
  .profile .container .stats-summary .gearscore {
    width: 100%;
  }
  .profile .container .stats-summary .life-overview {
    flex-flow: column wrap;
  }
  .profile .container .stats-summary .life-overview div {
    margin: 0;
  }
  .profile .container .container-desktop {
    width: 78%;
  }
  .profile .container .container-desktop .lifetime .lifetime-details,
  .profile .container .container-desktop .dark-zone .dark-zone-details,
  .profile .container .container-desktop .pve .pve-details {
    width: 100%;
    margin: 0;
  }
  .profile .container .container-desktop .lifetime .lifetime-details div,
  .profile .container .container-desktop .dark-zone .dark-zone-details div,
  .profile .container .container-desktop .pve .pve-details div {
    margin: 1rem;
  }
}
</style>