<template>
  <section class="search">
    <form v-on:submit.prevent="onSubmit">
      <div class="form">
        <label for="platform">Platform</label>
        <select name="platform" id="platform" v-model="platform">
          <option value="xbl">Xbox</option>
          <option value="psn">Playstation</option>
          <option value="uplay">PC</option>
        </select>
      </div>
      <div class="form">
        <label for="gamertag">Gamertag</label>
        <input
          type="text"
          name="gamertag"
          id="gamertag"
          v-model="gamertag"
          placeholder="Gamertag"
        />
      </div>
      <div class="form">
        <input type="submit" value="Search" class="btn" />
      </div>
    </form>
  </section>
</template>

<script>
export default {
  name: "Search",
  data() {
    return {
      //Valeurs par défaut pour les variables platform et gamertag
      platform: "xbl",
      gamertag: "",
    };
  },
  methods: {
    //Méthode qui s'applique lors de la soummission du formulaire
    onSubmit() {
      //S'il n'y a pas de nom d'utilisateur renseigné dans la champ gamertag, on affiche un message sous forme de pop-up sur le côté pour indiqué qu'il faut un nom d'utilisateur
      if (!this.gamertag) {
        this.$toasted.show("Please enter Gamertag...", {
          duration: 3000,
        });
      } else {
        //Sinon, on effectue la redirection vers la page du profil avec en paramètres la plateforme et le nom d'utilisateur
        this.$router.push(`/profile/${this.platform}/${this.gamertag}`);
      }
    },
  },
};
</script>

<style>
/* Version Téléphone */
.search {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}
.search form {
  background-color: rgba(255, 255, 255, 0.2);
  border: 3px solid rgb(255, 106, 0);
  border-radius: 5px;
  padding: 1.5rem;
  width: 350px;
}
.search .form {
  padding: 0.4rem;
}
.search .form label,
.search .form select,
.search .form input {
  font-size: 1.1rem;
  display: block;
  border-radius: 5px;
  width: 100%;
}
.search .form label {
  color: rgb(255, 255, 255);
}
.search .form select,
.search .form input {
  border: 2px solid rgb(255, 106, 0);
  padding: 0.2rem 0.4rem;
  margin: 0.5rem;
}
.search .form .btn {
  background-color: rgb(255, 106, 0);
  color: rgb(255, 255, 255);
}

/* Version Tablette */
@media screen and (min-width: 768px) {
  .search {
    height: 900px;
    margin: 0 auto;
  }
  .search form {
    width: 600px;
  }
}

/* Version Dekstop */
@media screen and (min-width: 1024px) {
  .search {
    height: 700px;
  }
  .search form {
    width: 900px;
  }
}
</style>