<template>
  <div id="app">
    <header>
      <img :src="image" alt="Logo Division 2" />
      <h1>Track your game stats</h1>
    </header>
    <main>
      <router-view></router-view>
    </main>
  </div>
</template>

<script>
export default {
  name: "App",
  components: {},
  data() {
    return {
      image: require("../src/assets/Logo Complet Division 2.png"),
    };
  },
};
</script>

<style>
* {
  margin: 0;
  box-sizing: border-box;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  background-color: rgb(0, 0, 0);
  background-image: url("../src/assets/Fond Ecran.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 100vh;
}

/* Version Téléphone */
#app header {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}
#app header img {
  width: 300px;
  margin-bottom: 0.5rem;
}
#app header h1 {
  color: rgb(255, 255, 255);
}

/* Version Tablette */
@media screen and (min-width: 768px) {
  #app header img {
    width: 350px;
  }
  #app header h1 {
    font-size: 3rem;
  }
}
</style>